.-{ title: t(".page_title")}

  - if @composite_results.blank?
    %table{ :style => "table-layout: auto; title: 'No Values results...';" }
      .results
        %h2=  t(".no_values")
        %h2=  t(".select_theme")
        -#%tr
          -#%td.left.grey.italic
          -#No Values results...
    %br
    %hr
  - else
    %table{ :style => "table-layout: auto; title: 'All images expert values';" }
      .results
        %h2 All images expert values
      %tr{ :style => "font-family: $helvetica; font-size: 2em; margin-bottom: .5em" }
        %th.name
          Image name
        %th Image
        -#%th user_id
        %th Value
        %th date
        -#%th delta_ave_composite

      -#- @composite_results.each do |composite_diag|
      - @composite_results_paged.each do |composite_diag|
        %tr.one_row
          %td{ :style => "text-align: left; width: 25em" }= composite_diag.name
          %td= image_tag('/assets/pictures/' + composite_diag.file, {:width => "53", :height =>"47", title: "Tested image"} )
          -#                                                          , :class => "opinion_image_preview ttip"
          -#%td= composite_diag.user_id
          %td{ :style => "color: rgba(122, 13, 75, 1);" }= composite_diag.avg_value
          -#%td= ((composite_diag.hk_composite-150)/5.0).round(2)
          -#%td= composite_diag.hk_hue.round(2)
          -#%td= composite_diag.hk_saturate.round(2)
          -#%td= composite_diag.hk_light.round(2)
          %td= composite_diag.created_at.strftime('%d.%m.%y ')
          -#%td= composite_diag.delta_ave_composite

      = paginate @composite_results_paged
      -#.pagination= render 'results_list' work_path  'javascript:history.go(-1);'
    %br
    %hr
-#= link_to "Return to main page", display_theme_path(theme_id: @selected_theme_id), :method => "post",  class: "btn btn-lg btn-primary", title: "Go to main page", remote: true
= link_to t(".return_to_main"), work_path,  class: "btn btn-lg btn-primary", title: "Go to main page"
%br
%br